.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    border-bottom: 1px solid #c9c9c9;
    height: 7vh;
  }
  
  .logo {
    /* font-size: 24px; */
    font-weight: bold;
    display: flex;
  }
  
  .nav-links {
    display: none; /* Hide the navigation links by default on mobile */
  }
  
  .nav-links a:hover {
    color: #007bff; /* Color on hover */
  }
  
  @media (min-width: 768px) {
    .nav-links {
      display: flex;
      line-height: 50px;
    }
    .nav-links a {
      margin-right: 50px;
      color: black;
      text-decoration: none;
    }
  }



  .dropdnwrap {
    display: block; /* Hide the navigation links by default on mobile */
  }


  /* Media query for mobile-first design */
  @media (min-width: 768px) {
    /* Styles for screens wider than 768px (e.g., tablets and desktops) */
    .dropdnwrap {
      display: none;
    }
  }