@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');


.App1 {
    background: #Ff6961;
    min-height: 100vh;
    display: flex;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

.App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  margin-top: 25vh;
  background-color: #Ff6961;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.task {
    background:White;
    border-bottom: 1px solid #CDD5DE;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
.listContainer {
margin: 2%;
/* border: 1px solid #A0AEBE; */
border-radius: 15px;
padding: 8px;
background-color: white;
}
  
footer{
position:absolute;
bottom:0;
width: 100%;
background-color: black;
text-align: center;
color: red;
}

.breadcrumb {
  padding-left: 2vw;
  background-color: #Ff6961;
}


.uploadContainer {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
  /* border: 1px solid #A0AEBE; */
  border-radius: 15px;
  padding: 5%;
  background-color: white;
  }

  .carousel .control-dots {
    position: absolute;
    bottom: 0;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    width: 100%;
    z-index: 1;
    display:none;
}

